$main_color: #cf2c7c;
$main_color-hover: #c42874;
$main_color-pressed: #ac0e5c;

$secondary_color: #f6f7f8;
$secondary_color-hover: #f2f3f4;
$secondary_color-pressed: #e1e1e1;

$input-color: #9a9a9a;
