.btn {
  display: inline-block;
  background-color: $main_color;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  &:hover {
    background-color: $main_color-hover;
  }
  &:active {
    background-color: $main_color-pressed;
  }

  &_white {
    background-color: #fff;
    line-height: 76px;
    border-radius: 16px;
    width: 292px;
    height: 80px;
    color: #000;
    &:hover {
      background-color: $secondary_color-hover;
    }
    &:active {
      background-color: $secondary_color-pressed;
    }
  }
}
