.header-main {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 193px minmax(0, 231px) minmax(200px, 731px) minmax(
      0,
      270px
    );
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: block;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__search {
    position: relative;
    &-img {
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__btn {
    width: 100%;
    height: 62px;
  }
  &__input {
    width: 100%;
    height: 62px;
    padding: 10px 70px 10px 39px;
    border-radius: 10px;
    border: none;
    background-color: $secondary_color;
    font-size: 18px;
    line-height: 25px;
    color: $input-color;
    &:hover {
      background-color: $secondary_color-pressed;
    }
    &:focus {
      background-color: #ffffff;
      color: #070707;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    position: relative;
    height: 30px;
    width: 30px;
    svg {
      fill: #000;
      stroke: #000;
    }
    &-circle {
      @include circle;
    }
    &:hover {
      svg {
        fill: $main_color;
        stroke: $main_color;
      }
    }
    &:active {
      svg {
        fill: $main_color-hover;
        stroke: $main_color-hover;
      }
    }
  }
}

@media (max-width: 1500px) {
  .header-main {
    column-gap: 40px;
  }
}
