.header-main {
  margin-top: 15px;
  display: flex;
  align-items: center;
  &__logo {
    display: block;
    width: 195px;
    height: 80px;
    margin-right: 65px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__btn {
    margin-right: 60px;
  }
  &__search {
    width: 731px;
    position: relative;
    margin-right: 150px;
    &-img {
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__input {
    width: 731px;
    height: 62px;
    padding: 10px 70px 10px 39px;
    border-radius: 10px;
    border: none;
    background-color: $secondary_color;
    font-size: 18px;
    line-height: 25px;
    color: $input-color;
    &:hover {
      background-color: $secondary_color-pressed;
    }
    &:focus {
      background-color: #ffffff;
      color: #070707;
    }
  }
  &__icons {
    width: 270px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    position: relative;
    height: 30px;
    width: 30px;
    svg {
      fill: #000;
      stroke: #000;
    }
    &-circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      line-height: 18px;
      right: -12px;
      top: -6px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: $main_color;
      color: #fff;
    }
    &:hover {
      svg {
        fill: $main_color;
        stroke: $main_color;
      }
    }
    &:active {
      svg {
        fill: $main_color-hover;
        stroke: $main_color-hover;
      }
    }
  }
}
