.mobile-dropdown {
  margin-top: 30px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
  }

  &__nav {
    margin-top: 20px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  &__item {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
  }

  &__exit {
    a {
      color: $main_color;
    }
  }
}
