@import "libs/bootstrap-reboot.min";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");

@import "base/variables";
@import "base/mixins";

* {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
    color: $main_color;
  }
  &:active {
    color: $main_color-hover;
  }
}

.container {
  max-width: 1740px;
  padding: 0 15px;
  margin: 0 auto;
}

@import "blocks/header/header";
@import "blocks/header/header_menu";
@import "blocks/header/header_main";
@import "blocks/buttons";
@import "blocks/header/header_catalog";
@import "blocks/header/header_promo";
@import "blocks/header/header_slider";
@import "blocks/reasons/reasons";
@import "blocks/reasons/reasons_item";
@import "blocks/picker/picker";
@import "blocks/picker/picker_block";
@import "blocks/dropdowns";
@import "blocks/mobile/header_mobile";
@import "blocks/main";
@import "blocks/mobile/mobile-menu";
@import "blocks/mobile/mobile_dropdown";
